<header class="header">
  <p class="site-title-sub">portfolio</p>
  <h1 class="site-title">My Name Is Mizuki Kobayashi</h1>
  <p class="site-description">Check out some of my Portfolios.</p>
  <div class="buttons">
    <a class="button" href="#about">LEARN MORE</a>
    <a class="button button-showy" href="#contact">SEND MESSAGE</a>
  </div>
</header>
<section class="about" id="about">
  <h2 class="heading">ABOUT ME</h2>
  <p class="about-text">
    はじめまして。日本でエンジニアを目指しています。<br>
    工業高校を卒業し、約4年間、樹脂成形品製作会社で業務を経て
  現在はプログラミングの勉強しながら就職活動しています。
  </p>
  <p class="about-text">
    このサイトは自分の勉強してきた言語を使って作った、ポートフォリオサイトです。
  </p>
</section>
<section class="works">
  <h2 class="heading">PORTFOLIOS</h2>
  <div class="works-wrapper">
    <div class="work-box tree">
      <img class="work-image" src="/images/tree.jpg" alt="制作事例１">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box building">
      <img class="work-image" src="/images/building.jpg" alt="制作事例2">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box lake">
      <img class="work-image" src="/images/lake.jpg" alt="制作事例3">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box sky">
      <img class="work-image" src="/images/sky.jpg" alt="制作事例4">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
  </div>
</section>
<section class="skills">
</section>
<section class="contact" id="contact">
  <%= link_to new_contact_path do %>
    <h2 class="heading">CONTACT</h2>
      <p class="contact-title-sub"> お問い合わせ </p>
  <% end %>    
</section>
<footer class="footer">
</footer>
<%# <script src="lib/placeholders.min.js"></script> %>
