@charset "UTF-8";

html{
  font-size: 62.5%;

}

*,*::before, *::after{
  box-sizing: border-box;
}

body{
background-color: #000000 ;
background-size: cover;
color: #fff;
text-align: center;
font-size: 1.4rem;
font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo,sans-serif;
}

.header{
  padding: 170px 30px 80px;
  background-image: image-url("umi.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.site-title-sub{
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
  @media screen and (max-width:375px){
    font-size: 1.7rem;
   
  }

}

.site-title-sub::before,
.site-title-sub::after{
  content: "";
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
  @media screen and (max-width:375px){
    display: block;
    width: 80%;
    margin: 10px auto;
   
  }
}

.site-title{
  margin: 50px 0 40px;
  font-size: 5.6rem;
  color: black;
}

.site-description{
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.6rem;
}

.button{
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.button:hover{
  opacity: 0.7;
}

.button-showy{
  background-color: #f1b400;
}

.buttons .button{
  margin: 10px;
}

.about{
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.heading{
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.heading::before,
.heading::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before{
  bottom: 5px;
  
}

.about-text{
  margin: 30px 0;
  line-height: 2.5;
}

.social-icon{
  text-decoration: none;

  .twitter{
    width: 50px;
    height: 50px;
    font-size: 3.5rem;
    text-decoration: none;
    color: #559de0;
  }
  .twitter:hover{
    color: #1b4cd4;
  }
  .github{
    width: 50px;
    height: 50px;
    font-size: 3.5rem;
    text-decoration: none;
    color: #6b6964;
  }
  .github:hover{
    color: #3f3c35;
  }
}


.works{
  background-color: #383634;
  padding: 80px 0;
}

.works-wrapper{
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
  
}

.portfolios-box{
  margin: 0 462.5px;
  @media screen and (max-width:375px){
   margin: 0 50px;
  }
  img{
    width: 500px;
    height: 280px;
    @media screen and (max-width:375px){
      width: 300px;
      height: 150px;
      
    }
  }
 
}
.s_08 .accordion_area {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.s_08 .accordion_area .accordion_one._flex {
  width: 25%;
}
.s_08 .accordion_one .accordion_header {
  background-color: #383634;
  // border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  // font-weight: bold;
  padding: 20px 11% 20px 7%;
  text-align: center;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
  @media screen and (max-width:375px){
    font-size: 8px;
    text-align: left;
   }
}
.s_08 .accordion_one .accordion_header_one {
  background-color: #383634;
  // border-bottom: 1px solid #fff;
  color: black;
  font-size: 14px;
  // font-weight: bold;
  padding: 20px 7%;
  text-align: left;
  position: relative;
  z-index: +1;
  cursor: pointer;
  @media screen and (max-width:375px){
    font-size: 4px;
   }
}
.s_08 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header_one {
  background-color: #ada797;
}
.s_08 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #383634;
}
.s_08 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header_one {
  background-color: #ada797;
}
.s_08 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #383634;
}
.s_08 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header_one {
  background-color: #ada797;
}
.s_08 .accordion_one:nth-of-type(4) .accordion_header {
  background-color: #383634;
}
.s_08 .accordion_one:nth-of-type(4) .accordion_inner .accordion_header_one {
  background-color: #ada797;
}
.s_08 .accordion_one .accordion_header:hover {
  opacity: .8;
}
.s_08 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  
}
.s_08 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
  
}
.s_08 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.s_08 .accordion_one .accordion_header .i_box .one_i:before, .s_08 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}
.s_08 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.s_08 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}
.s_08 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.s_08 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  box-sizing: border-box;
}
.s_08 .accordion_one .accordion_inner .box_one {
  height: 300px;
}
.s_08 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

// .work-box{
//   position: relative;
//   display: table-cell;
// }
// .work-image{
//   display: block;
//   width: 100%;
//   margin: 0 0 60%;
// }

// .work-box::after{
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 100%;
//   height: 50%;
//   background: no-repeat;
//   background-size:100% 100% ;
//   opacity: 0.5;
//   transform: scaleY(-1);
// }
// .work-box.tree::after{
//   background-image: url("../images/tree.jpg");
// }

// .work-box.building::after{
//   background-image: url("../images/building.jpg");
// }
// .work-box.lake::after{
//   background-image: url("../images/lake.jpg");
// }
// .work-box.sky::after{
//   background-image: url("../images/sky.jpg");
// }

// .work-box:nth-child(odd) .work-image{
//   margin: 60% 0 0;
// }
// .work-box:nth-child(odd) .work-description,
// .work-box:nth-child(odd)::after{
//   top: 0;
// }


// .work-description{
//   position: absolute;
//   top: 50%;
//   left: 0%;
//   width: 100%;
//   height: 50%;
//   overflow: auto;
// }

// .work-description-inner{
//   display: table;
//   width: 100%;
//   height: 100%;
//   padding: 20px;
// }

// .work-text{
//   display: table-cell;
//   vertical-align: middle;
//   font-size: 0.9rem;
//   line-height: 2;
  
// }

// .work-text .button{
//   width: 60%;
//   margin-top: 20px;
//   padding: 3px;
// }

// .button-ghost{
//   border: 1px solid #fff;
//   background-color: rgba(255, 255, 255, 0.15);
// }

.skills{
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}

.skills-wrapper{
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box{
  display: table-cell;
}

.skill-icon{
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
  padding-top: 20px;
  // border: 4px solid #f1b400;
  background-color: #fdfdfd;
  border-radius: 50%;
  color: #414cb4;
  font-size: 8rem;
  line-height: 142px;
  font-family: "Font Awesome 5 Free";
  

}

.skill-title{
  margin: 0 20px 20px;
  font-size: 2rem;
}
.html{
  margin-top: 30px;
  margin-right: 50px;
  width: 80px;
  height: 80px;
  font-size: 6.5rem;
  color: #f0405d;
  p{
    font-size: 1.3rem;
    color: black;
  }
  @media screen and (max-width:375px){
    width: 100%;
    margin-bottom: 30px;
   
  }
}
.css{
  margin-right: 50px;
  width: 80px;
  height: 80px;
  font-size: 6.5rem;
  color: #244cce;
  P{
    font-size: 1.3rem;
    color: black;
  }
  @media screen and (max-width:375px){
    width: 100%;
    margin-bottom: 30px;
  }
}

.sass{
  margin-right: 50px;
  width: 80px;
  height: 80px;
  font-size: 6.5rem;
  color: #c616dd;
  P{
    font-size: 1.3rem;
    color: black;
  }
  @media screen and (max-width:375px){
    width: 100%;
    margin-bottom: 30px;
  }
}

.javascript{
  margin-right: 50px;
  width: 80px;
  height: 80px;
  font-size: 6.5rem;
  color: #eeda27;
  P{
    font-size: 1.3rem;
    color: black;
  }
  @media screen and (max-width:375px){
    width: 100%;
    margin-bottom: 30px;
  }
}
.ruby{
  display: inline-block;
  width: 80px;
  margin-right: 50px;
  color: #000000;
  font-size: 1.3rem;
  @media screen and (max-width:375px){
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact{
  padding: 80px 0 80px;
  background-image: image-url("china.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .btn-flat-vertical-border {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #202dee;
    border-right: solid 4px #202dee;
    color: #668ad8;
    background: #202dee;
    transition: .4s;
  }
  
  .btn-flat-vertical-border:hover {
    background: #2258ec;
    color: #FFF;
  }


 
  a{
    text-decoration: none;
    color: #fff;
  }

  
}

.contact-content{
  position: relative;
  height: 150px;
  
  // .btn--orange,
  // a.btn--orange {
  //   color: #fff;
  //   background-color: #eb6100;
  // }
  // .btn--orange:hover,
  // a.btn--orange:hover {
  //   color: #fff;
  //   background: #f56500;
  // }



  // .contact-title-sub{
  //   display: inline-block;
  //   padding: 20px;
  //   border-radius: 30px;
  //   background-color: #1f3cbd;
  //   opacity: 0.9;
  //   color: #fff;
  //   text-decoration: none;
  //   letter-spacing: 1px;
  //   font-size: 1.6rem;
  //   margin: 0 auto;
  //   position: absolute;
  //   right: 570px;
  //   top: 35px;
  //   @media screen and (max-width:375px){
  //     right: 5px;
  //     top: 35px;
  //   }
  // }
  // .contact-title-sub:hover{
  //   background-color: #415cd4;
  //   opacity: 0.8;
  // }
  
  .or{
    display: inline-block;
    font-size: 2.3rem;
    position: absolute;
    top: 50px;
    // left: 640px;
    left: 705px;
    @media screen and (max-width:375px){
      // left: 100px;
      left: 170px;
     
    }
  }
  // .or1{
  //   display: inline-block;
  //   font-size: 2.3rem;
  //   position: absolute;
  //   top: 50px;
  //   left: 750px;
  //   @media screen and (max-width:375px){
  //     left: 250px;
     
  //   }
  // }

  // .twitter-contact{
  //   display: inline-block;
  //   width: 100px;
  //   height: 100px;
  //   padding-top: 25px;
  //   border-radius: 50%;
  //   color: #559de0;
  //   font-size: 8rem;
  //   padding-bottom: 20px;
  //   position: absolute;
  //   // left: 550px;
  //   left: 600px;
  //   @media screen and (max-width:375px){
  //     // left: 5px;
  //     left: 70px;
     
  //   }
    
  // }
  // .twitter-contact:hover{
  //   opacity: 0.6;
  //   color: #76b1e0;

  // }


  // .line-content{
  //   background-color: #fff;
  //   position: absolute;
  //   // left: 670px;
  //   left: 750px;
  //   width: 60px;
  //   height: 60px;
  //   margin-top: 35px;
  //   margin-left: 5px;
  //   @media screen and (max-width:375px){
  //     // left: 150px;
  //    left: 220px;
  //   }
  // }

//   .line{
//     display: inline-block;
//     padding-top: 25px;
//     color: #5cf15c;
//     font-size: 8rem;
//     position: absolute;
//     // left: 670px;
//     left: 750px;
//     @media screen and (max-width:375px){
//       // left: 150px;
//      left: 220px;
//     }
//   }
//   .line:hover{
//     color: #91f091;
    
//   }
// }


// コンタクトフォームのメールのボタン
// .btn,
// a.btn,
// button.btn {
//   margin-top: 50px;
//   font-size: 1.6rem;
//   font-weight: 700;
//   line-height: 1.5;
//   position: relative;
//   display: inline-block;
//   padding: 1rem 4rem;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   text-align: center;
//   vertical-align: middle;
//   text-decoration: none;
//   letter-spacing: 0.1em;
//   color: #ffffff;
//   border-radius: 0.5rem;
// }

// a.btn-custom01 {
//   margin-bottom: 0.5rem;
//   padding: 0;
//   border-radius: 0.75rem;
// }

// a.btn-custom01:before {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;

//   width: 100%;
//   height: 100%;

//   content: "";
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   -webkit-transform: translate3d(0, 0.75rem, -1rem);
//   transform: translate3d(0, 0.75rem, -1rem);

//   border: 2px solid #000;
//   border-radius: inherit;
//   background: #0a6dee;
//   -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
//   box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
// }

// a.btn-custom01:after {
//   font-family: "Font Awesome 5 Free";
//   font-size: 2rem;
//   font-weight: normal;
//   line-height: 1;
//   position: absolute;
//   top: calc(50% - 1rem);
//   left: 1.5rem;
//   margin: 0;
//   padding: 0;
//   content: "\f0e0";
// }

// .btn-custom01-front {
//   position: relative;
//   display: block;
//   padding: 1.5rem 5rem 1.5rem 5rem;

//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   border: 2px solid #000;
//   border-radius: inherit;
//   background: #0084ff;
// }

// .fa-position-left {
//   position: absolute;
//   top: calc(50% - 0.5em);
//   left: 1rem;
// }

// .fa-position-right {
//   position: absolute;
//   top: calc(50% - 0.5em);
//   right: 1rem;
// }

// a.btn-custom01:hover {
//   -webkit-transform: translate(0, 0.25rem);
//   transform: translate(0, 0.25rem);
//   background: #0084ff;
// }

// a.btn-custom01:hover:before {
//   -webkit-transform: translate3d(0, 0.5rem, -1rem);
//   transform: translate3d(0, 0.5rem, -1rem);
//   -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
//   box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
// }

// a.btn-custom01:hover:after {
//   content: "\f2b6";
// }

// a.btn-custom01:active {
//   -webkit-transform: translate(0rem, 0.75rem);
//   transform: translate(0rem, 0.75rem);
// }

// a.btn-custom01:active:before {
//   -webkit-transform: translate3d(0, 0, -1rem);
//   transform: translate3d(0, 0, -1rem);
//   -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
//   box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
// }

// a.btn-custom01:active:after {
//   content: "\f2b6";
// }
