.notification {
  .notice {
    background-color: rgb(48, 59, 156);
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: #f74122;
    color: $white;
    text-align: center;
  }
}